@font-face {
    font-family: 'FF_DIN_Condensed_Regular';
    src: url(../assets/fonts/FF_DIN_Condensed_Regular.otf);
}

@font-face {
    font-family: 'FF_DIN_Condensed_Bold';
    src: url(../assets/fonts/FF_DIN_Condensed_Bold.otf);
}

@font-face {
    font-family: 'FF_DIN_Condensed_Black';
    src: url(../assets/fonts/FF_DIN_Condensed_Black.otf);
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.col-gap-2 {
    column-gap: 2em !important;
}

.row-gap-3 {
    row-gap: 3em !important;
}

nav ul a {
    font-family: 'FF_DIN_Condensed_Black', Arial, Helvetica, sans-serif !important;
    font-size: 1.5em !important;
    color: #005C7C !important;
}

nav ul a:hover {
    opacity: 50% !important;
}

.my-banner-mobile {
    display: none !important;
}

.saiba-mais {
    padding: 3em 0 !important;
}

.saiba-mais-1 {
    font-family: 'FF_DIN_Condensed_Bold', Arial, Helvetica, sans-serif !important;
    font-size: 2em !important;
    color: grey !important;
}

.saiba-mais-2 {
    font-family: 'FF_DIN_Condensed_Bold', Arial, Helvetica, sans-serif !important;
    font-size: 2em !important;
    color: #d6b469 !important;
}

.saiba-mais button {
    font-family: 'FF_DIN_Condensed_Bold', Arial, Helvetica, sans-serif !important;
    font-size: 1.5em !important;
    color: #d6b469 !important;
    background: transparent !important;
    border: 2px solid #d6b469 !important;
    border-radius: 25px !important;
    padding: 0.25em 2em !important;
}

.saiba-mais button:hover {
    opacity: 50% !important;
}

.frete-gratis {
    margin-bottom: 3em !important;
}

.frete-gratis-1 {
    font-family: 'FF_DIN_Condensed_Black', Arial, Helvetica, sans-serif !important;
    font-size: 3em !important;
    text-align: center !important;
    line-height: 1.2em !important;
    color: #d6b469 !important;
}

.frete-gratis-1 span {
    font-family: 'FF_DIN_Condensed_Regular', Arial, Helvetica, sans-serif !important;
    color: #005C7C !important;
}

.produtos {
    margin-bottom: 3em !important;
}

.produtos span {
    font-family: 'FF_DIN_Condensed_Regular', Arial, Helvetica, sans-serif !important;
    font-size: 2.5em !important;
    text-align: center !important;
    color: #005C7C !important;
}

.produtos .my-card span {
    font-family: 'FF_DIN_Condensed_Black', Arial, Helvetica, sans-serif !important;
    font-size: 2em !important;
    line-height: 1.2em !important;
}

.quem-somos {
    border-top: 3px solid #005C7C !important;
    padding: 3em 0 !important;
}

.quem-somos h2 {
    color: #005C7C !important;
}

.quem-somos h1 {
    font-weight: bold !important;
    color: #005C7C;
}

.quem-somos p {
    font-size: 1.25em !important;
    font-weight: 600 !important;
}

.localizacao {
    border-top: 3px solid #005C7C !important;
    padding: 3em 0 !important;
}

.localizacao h1 {
    font-weight: bold !important;
    text-align: center !important;
    color: #005C7C !important;
    margin-bottom: 1em !important;
}

.localizacao iframe {
    height: 50vw !important;
}

footer ul a {
    width: fit-content !important;
    font-family: 'FF_DIN_Condensed_Bold', Arial, Helvetica, sans-serif !important;
    font-size: 1.25em !important;
    color: #005C7C !important;
}

footer ul a:hover {
    opacity: 50% !important;
}

footer img {
    object-fit: contain !important;
}

footer a img:hover {
    opacity: 50% !important;
}

footer span a {
    text-decoration: none !important;
    color: #005C7C;
}

footer span a:hover {
    opacity: 50% !important;
}

.contact {
    font-family: 'FF_DIN_Condensed_Bold', Arial, Helvetica, sans-serif !important;
    font-size: 1.25em !important;
    color: #005C7C !important;
}

.social-media-icons {
    column-gap: 1em !important;
}

@media (max-width: 991px) {
    footer ul, footer span {
        text-align: center !important;
    }

    footer ul {
        align-items: center !important;
    }

    .social-media-icons {
        justify-content: center !important;
    }

    .footer-gap {
        gap: 3em !important;
    }

    .my-banner {
        display: none !important;
    }

    .my-banner-mobile {
        display: contents !important;
    }

    .quem-somos img {
        width: 100% !important;
    }
}